* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.menu {
    display: flex;
    gap: 30px;
}
.menu a {
    color: #222;
    text-decoration: none;
}

.menu a:hover{
    color: #fff;
    background-color: rosybrown;
}

#principal {
    min-height: 500px;
    display: flex;
    align-items: center;
    padding: 80px 10%;
    background-color: purple;
}

h1 {
    font-size: 50px;
    margin: 50px 0px;
}
#principal p{
    max-width: 600px;
    line-height: 1.6;
}
.botao a {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    padding: 12px 12px;
    color: blue;
    background-color: #111;
    text-decoration: none;
    border-radius: 6px solid;
}
.botao a:hover{
    background-color: #444;
}